@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Kwamfundo Seniou Secondary School was first opened on 2001.
    The school is situated in Harare, Khayelitsha.
    This is a Dinaledi School.
</p>


